.home {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;

  .card {
    display: flex;
    width: 100%;
    max-width: 480px;
    height: 300px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .bank-card {
    background-size: contain;
  }

  .add-card {
    border: 2px solid #{$accent-blue};

    & .add-icon {
      margin-right: 12px;
    }
  }
}
