.home {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;

  .card {
    display: flex;
    width: 100%;
    max-width: 480px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;

    img {
      width: 100%;
    }
  }

  .bank-card {
    background-size: contain;
  }

  .add-card {
    border: 2px solid #{$accent-blue};
    aspect-ratio: 16 / 10;

    & .add-icon {
      margin-right: 12px;
    }
  }
}
