.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0.5, 0.8), rgba(0,0,0.5, 0.5)), url(../resources/landing.jpg);
  background-size: cover;

  & .get-started-btn {
    margin-top: 24px;
  }

  & .MuiButton-outlined	{
    background-color: white;
    color: black;
    border: 1px solid white;

    &:hover {
      background-color: white;
      border: 1px solid white;
    }
  }

  & h1, p {
    color: white;
  }
}