<h2 mat-dialog-title>{{ transactionId.value ? "Edit" : "Add" }} Transaction</h2>
<mat-dialog-content [formGroup]="transactionForm" class="global-dialog">
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      name="date"
      formControlName="date"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      matInput
      placeholder="Description"
      type="text"
      name="description"
      formControlName="description"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input
      matInput
      placeholder="Amount"
      type="number"
      min="0.00"
      step="0.01"
      name="amount"
      placeholder="0.00"
      formControlName="amount"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select
      name="transactionCategory"
      formControlName="transactionCategory"
      required
    >
      <mat-option
        *ngFor="let transactionCategory of transactionCategories"
        [value]="transactionCategory"
      >
        {{ transactionCategory }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <p>Transaction Type</p>
    <mat-button-toggle-group
      name="paymentType"
      formControlName="paymentType"
      required
    >
      <mat-button-toggle value="Online">Online</mat-button-toggle>
      <mat-button-toggle value="Contactless">Contactless</mat-button-toggle>
      <mat-button-toggle value="Physical">Physical</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <input
    type="hidden"
    formControlName="cardStatementId"
    name="cardStatementId"
  />
  <input #transactionId type="hidden" formControlName="id" name="id" />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="transactionForm.invalid"
    (click)="addTransaction()"
    mat-dialog-close
  >
    {{ transactionId.value ? "Edit" : "Add" }}
  </button>
  <button mat-flat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
