<h2 mat-dialog-title>Add Transaction</h2>
<mat-dialog-content [formGroup]="transactionForm" class="global-dialog">
    <mat-form-field>
        <mat-label>Transaction Date</mat-label>
        <input matInput [matDatepicker]="picker" name="transactionDate" formControlName="transactionDate"
            required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Vendor</mat-label>
        <input matInput placeholder="Vendor" type="text" name="vendor" formControlName="vendor" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" type="number" min="0.00" step="0.01" name="amount" placeholder="0.00" formControlName="amount" required>
    </mat-form-field>
    <div>
        <p>Transaction Type</p>
        <mat-button-toggle-group name="type" formControlName="type" required>
            <mat-button-toggle value="online">Online</mat-button-toggle>
            <mat-button-toggle value="contactless">Contactless</mat-button-toggle>
            <mat-button-toggle value="physical">Physical</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="submit" [disabled]="transactionForm.invalid" (click)="addTransaction()" mat-dialog-close>Add</button>
    <button mat-flat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>