.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #3f51b5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar a {
  color: white;
}

.crease-logo {
  margin: 0 8px;
}

.spacer {
  flex: 1 1 auto;
}
