<mat-toolbar color="primary">
  <a mat-button [routerLink]="'/'">
    <fa-icon [icon]="faCreditCard" class="crease-logo"></fa-icon>
    <span>Crease</span>
  </a>
  <a mat-button [routerLink]="'/cards'">
    <span>Cards</span>
  </a>
  <span class="spacer"></span>
  <button mat-button *ngIf="!userAccount" (click)="handleLogin()">Login</button>
  <button mat-button *ngIf="userAccount" [matMenuTriggerFor]="menu">
    {{ userAccount.name }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="handleLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>
