<div class="card-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" fixedTopGap="64">
      <mat-nav-list>
        <card-list
          [cards]="cards"
          (selectCard)="onSelectCard($event)"
        ></card-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div *ngIf="cards?.length" class="cards-header-bar">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="card-header">{{
            selectedCard ? selectedCard.name : ("Cards" | uppercase)
          }}</span>
        </div>
        <div class="empty-cards-header" *ngIf="cards?.length === 0">
          <span class="card-header">Cards</span>
        </div>
      </mat-toolbar>
      <div class="content-container">
        <div *ngIf="!selectedCard">
          <h3 *ngIf="cards!.length == 0">No cards has been added.</h3>
          <button
            mat-flat-button
            color="primary"
            (click)="openAddNewCardDialog()"
          >
            Add New Card
          </button>
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
