.card-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidenav-container {
  flex: 1;
}

.content-container {
  padding: 20px 24px;
}

.card-header {
  font-weight: 200;
  padding-top: 4px;
}

.cards-header-bar {
  display: flex;
  align-items: center;
}

.empty-cards-header {
  padding: 0 8px;
}
