.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 32px;
}